# instack answers file

### DEPLOYMENT_MODE ###
# Deployment mode to setup on this Undercloud.
# Choices are poc and scale:
# poc will allow deployment of a single role to heterogenous hardware
# scale will allow deployment of a single role only to homogenous hardware.
DEPLOYMENT_MODE=poc

### IMAGE_PATH ###
# Local file path to the downloaded images.
# The path should be a directory readable by the current user that contains
# the full set of downloaded images.
IMAGE_PATH=.

### LOCAL_IP ###
# IP address to assign to the interface on the Undercloud that will
# be handling the PXE boots and DHCP for Overcloud instances.
# LOCAL_IP will be assigned to LOCAL_INTERFACE, and must be in
# IP/PREFIX format.
LOCAL_IP=192.0.2.1/24

### LOCAL_INTERFACE ###
# Network interface on the Undercloud that will be handling the PXE boots and
# DHCP for Overcloud instances.
# LOCAL_INTERFACE will be assigned the address from LOCAL_IP
LOCAL_INTERFACE=eth1

### MASQUERADE_NETWORK ###
# Network that will be masqueraded for external access if required.
MASQUERADE_NETWORK=192.0.2.0/24

### DHCP_START ###
# Start of DHCP Allocation range for PXE and DHCP of Overcloud instances
DHCP_START=192.0.2.5

### DHCP_END ###
# End of DHCP Allocation range for PXE and DHCP of Overcloud instances
DHCP_END=192.0.2.24

### NETWORK_CIDR ###
# Network cidr for neutron managed network for Overcloud instances
NETWORK_CIDR=192.0.2.0/24

### NETWORK_GATEWAY ###
# Network gateway for neturon managed network for Overcloud instances
NETWORK_GATEWAY=192.0.2.1

### DISCOVERY_INTERFACE ###
# Network interface on which discovery dnsmasq will listen
# If in doubt, do not change
DISCOVERY_INTERFACE=br-ctlplane

### DISCOVERY_IPRANGE ###
# Temporary IP range that will be given to nodes during discovery process
# Should not overlap with Neutron range, but should be in the same network
DISCOVERY_IPRANGE=192.0.2.100,192.0.2.120

### DISCOVERY_PXEIP ###
# IP address of TFTP server for discovery, chances are high that it is LOCAL_IP
DISCOVERY_PXEIP=192.0.2.1

### UNDERCLOUD_DEBUG ###
# Whether to enable the debug log level for OpenStack services
UNDERCLOUD_DEBUG=true

### Database password ###
# Password used for MySQL databases
# If left unset, one will be automatically generated
UNDERCLOUD_DB_PASSWORD=

### Admin Token ###
# Keystone admin token
# If left unset, one will be automatically generated
UNDERCLOUD_ADMIN_TOKEN=

### Admin password ###
# Keystone admin password
# If left unset, one will be automatically generated
UNDERCLOUD_ADMIN_PASSWORD=

### Glance password ###
# Glance service password
# If left unset, one will be automatically generated
UNDERCLOUD_GLANCE_PASSWORD=

### Heat password ###
# Heat service password
# If left unset, one will be automatically generated
UNDERCLOUD_HEAT_PASSWORD=

### Neutron password ###
# Neutron service password
# If left unset, one will be automatically generated
UNDERCLOUD_NEUTRON_PASSWORD=

### Nova password ###
# Nova service password
# If left unset, one will be automatically generated
UNDERCLOUD_NOVA_PASSWORD=

### Ironic password ###
# Ironic service password
# If left unset, one will be automatically generated
UNDERCLOUD_IRONIC_PASSWORD=

### Tuskar password ###
# Tuskar service password
# If left unset, one will be automatically generated
UNDERCLOUD_TUSKAR_PASSWORD=

### Ceilometer password ###
# Ceilometer service password
# If left unset, one will be automatically generated
UNDERCLOUD_CEILOMETER_PASSWORD=

### Ceilometer metering secret ###
# Ceilometer metering secret
# If left unset, one will be automatically generated
UNDERCLOUD_CEILOMETER_METERING_SECRET=

### Ceilometer snmpd user ###
# Ceilometer snmpd user
# If left unset, one will be automatically generated
UNDERCLOUD_CEILOMETER_SNMPD_USER=

### Ceilometer snmpd password ###
# Ceilometer snmpd password
# If left unset, one will be automatically generated
UNDERCLOUD_CEILOMETER_SNMPD_PASSWORD=

### Swift password ###
# Swift password
# If left unset, one will be automatically generated
UNDERCLOUD_SWIFT_PASSWORD=

### Rabbit Cookie ###
# Rabbit Cookie
# If left unset, one will be automatically generated
UNDERCLOUD_RABBIT_COOKIE=

### Rabbit Password ###
# Rabbit Password
# If left unset, one will be automatically generated
UNDERCLOUD_RABBIT_PASSWORD=

### Rabbit Username ###
# Rabbit Username
# If left unset, one will be automatically generated
UNDERCLOUD_RABBIT_USERNAME=

### Heat Stack Domain Admin Password ###
# Heat Stack Domain Admin Password
# If left unset, one will be automatically generated
UNDERCLOUD_HEAT_STACK_DOMAIN_ADMIN_PASSWORD=

### Swift Hash Suffix ###
# Swift Hash Suffix
# If left unset, one will be automatically generated
UNDERCLOUD_SWIFT_HASH_SUFFIX=
