six>=1.9.0
python-keystoneclient>=2.0.0,!=2.1.0  # Apache-2.0
python-novaclient
python-mistralclient>=2.0.0 # Apache-2.0
oslo.config
psutil>=1.1.1,<2.0.0
netaddr>=0.7.12,!=0.7.16
pystache
os-cloud-config
os-refresh-config
os-apply-config
