
module haproxy 1.0;

require {
	type neutron_port_t;
	type haproxy_t;
	type unreserved_port_t;
	type soundd_port_t;
	type osapi_compute_port_t;
	type glance_port_t;
	type glance_registry_port_t;
	class tcp_socket { name_bind name_connect };
}

#============= haproxy_t ==============

#!!!! This avc can be allowed using the boolean 'haproxy_connect_any'
allow haproxy_t glance_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using the boolean 'haproxy_connect_any'
allow haproxy_t glance_registry_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using the boolean 'haproxy_connect_any'
allow haproxy_t neutron_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using the boolean 'haproxy_connect_any'
allow haproxy_t osapi_compute_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using the boolean 'haproxy_connect_any'
allow haproxy_t soundd_port_t:tcp_socket name_bind;

#!!!! This avc can be allowed using one of the these booleans:
#     nis_enabled, haproxy_connect_any
allow haproxy_t unreserved_port_t:tcp_socket { name_bind name_connect };
