
module neutron_ip_tmpfs 1.0;

require {
	type ifconfig_t;
	type ifconfig_var_run_t;
	class dir mounton;
}

#============= ifconfig_t ==============
allow ifconfig_t ifconfig_var_run_t:dir mounton;
