
module neutron_ip 1.0;

require {
	type ifconfig_t;
	type root_t;
	class dir mounton;
}

#============= ifconfig_t ==============
allow ifconfig_t root_t:dir mounton;
