/* general settings */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}


/* remove backgrounds */
.wy-nav-content,
.wy-body-for-nav,
.wy-nav-side,
#admonition_selector {
  background: none !important;
  color: black !important;
}


/* page header */
.wy-side-nav-search,
.wy-nav-top {
  background: rgba(0, 0, 0, 0.05) !important;
}

.wy-nav-top {
  line-height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wy-side-nav-search a,
.wy-nav-top a,
.wy-nav-top i {
  color: rgb(160, 0, 0) !important;
}

.wy-nav-top i {
  position: relative;
  top: 0.1em;
}

.wy-side-nav-search input[type="text"] {
  border-color: rgba(0, 0, 0, 0.25);
}


/* sidebar*/
.wy-nav-side {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}


/* admonition selector */
#admonition_selector {
  border-top: 0 none !important;
}

.trigger {
  color: rgba(0, 0, 0, 0.7) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
}

.trigger:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.content {
  border-top: 0 none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: rgba(0, 0, 0, 0.025) !important;
}

#admonition_selector .title {
  color: rgba(0, 0, 0, 0.6) !important;
}


/* menu */
.wy-menu li a,
.wy-menu-vertical li a {
  font-size: 100%;
  line-height: 1.6;
  color: rgb(80, 80, 80);
}

.wy-menu-vertical li a:hover,
.wy-menu-vertical li a:focus,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.current a:focus {
  color: black;
  text-decoration: underline;
  background: none;
}

.wy-menu-vertical li.current,
.wy-menu-vertical li.current a {
  border: 0 none;
  color: rgb(80, 80, 80);
  font-weight: inherit;
  background: none;
}

/* level-1 menu item */
.wy-menu-vertical li.toctree-l1.current > a,
.wy-menu-vertical li.toctree-l1.current > a:hover,
.wy-menu-vertical li.toctree-l1.current > a:focus {
  background: rgb(230, 230, 230);
}

.wy-menu li.toctree-l1 > a:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  position: relative;
  padding-right: 0.5em;
}

/* level-2 menu item */
.toctree-l2 {
  font-size: 90%;
  color: inherit;
}

.wy-menu-vertical .toctree-l2 a {
  padding: 0.4045em 0.5em 0.4045em 2.8em !important;
}

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current > a:hover,
.wy-menu-vertical li.toctree-l2.current > a:focus,
.wy-menu-vertical li.toctree-l2.active > a,
.wy-menu-vertical li.toctree-l2.active > a:hover,
.wy-menu-vertical li.toctree-l2.active > a:focus {
  background: rgb(242, 242, 242);
}

.wy-menu li.toctree-l2 > a:before {
  font-family: FontAwesome;
  content: "";
  font-size: 30%;
  display: inline-block;
  position: relative;
  bottom: 0.55em;
  padding-right: 1.5em;
}


/* typography */
h1 {
  color: rgb(160, 0, 0);
  font-weight: 300;
  margin-top: 36px !important;
}

h3 {
  font-size: 135%;
}

h2, h3, h4, h5 {
  font-weight: 200;
}


a, a:visited {
  color: #2275b4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #1c6094;
  text-decoration: underline;
}

.rst-content .toc-backref {
  color: inherit;
}

strong {
  font-weight: 600;
}


/* code */
.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
div[class^="highlight"] {
  background: rgba(0, 0, 0, 0.05);
  color: black;
}


/* notes */
.admonition {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 400;
}

.rst-content .note {
  background: none !important;
}

.note > p.first.admonition-title {
  background: rgba(0, 0, 0, 0.5) !important;
  color: rgba(255, 255, 255, 0.9) !important;
}
