[Unit]
Description=dnsmasq service to forward dns requests
After=openvswitch.service

[Service]
Type=simple
ExecStart=/sbin/dnsmasq -d -q

[Install]
WantedBy=multi-user.target
