{
 "hiera": {
  "hierarchy": [
   {{#HIERADATA_OVERRIDE}}
   "{{.}}",
   {{/HIERADATA_OVERRIDE}}
   "\"%{::operatingsystem}\"",
   "\"%{::osfamily}\"",
   "puppet-stack-config"
  ]},
  "local-ip": "{{LOCAL_IP}}",
  "masquerade_networks": ["{{MASQUERADE_NETWORK}}"],
  "service_certificate": "{{UNDERCLOUD_SERVICE_CERTIFICATE}}",
  "public_vip": "{{UNDERCLOUD_PUBLIC_VIP}}",
  "neutron": {
    "dhcp_start": "{{DHCP_START}}",
    "dhcp_end": "{{DHCP_END}}",
    "network_cidr": "{{NETWORK_CIDR}}",
    "network_gateway": "{{NETWORK_GATEWAY}}"
  },
  "inspection": {
    "interface": "{{DISCOVERY_INTERFACE}}",
    "iprange": "{{DISCOVERY_IPRANGE}}",
    "runbench": "{{DISCOVERY_RUNBENCH}}"
  },
  "os_net_config": {
  {{> net_config}}
  },
  "keystone": {
    "host": "{{LOCAL_IP}}"
  },
  "ironic": {
    "service-password": "{{UNDERCLOUD_IRONIC_PASSWORD}}"
  },
  "bootstrap_host": {
    "bootstrap_nodeid": "undercloud",
    "nodeid": "undercloud"
  }
}
